<?xml version="1.0" encoding="utf-8"?>
<config>
    <inlinehelp button="show"/>
    <help button="hide"/>

    <fieldset name="general" label="COM_JOOMET_PARAMS_BASIC_LABEL">
        <field name="show_filters_by_default"
               label="COM_JOOMET_CONFIG_SHOW_FILTERS_DEFAULT_LABEL"
               description="COM_JOOMET_CONFIG_SHOW_FILTERS_DEFAULT_DESCRIPTION"
               default="0"
               filter="integer"
               type="radio"
               class="btn-group btn-group-yesno"
        >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
    </fieldset>

    <fieldset name="check" label="COM_JOOMET_PARAMS_CHECKER_LABEL">
        <field name="max_execution_time"
               type="number"
               default="60"
               filter="integer"
               label="COM_JOOMET_PARAMS_CHECKER_MAX_EXEC_LABEL"
               description="COM_JOOMET_PARAMS_CHECKER_MAX_EXEC_DESCRIPTION"
        />
    </fieldset>

    <fieldset name="translate" label="COM_JOOMET_PARAMS_TRANSLATOR_LABEL"
              addfieldprefix="NXD\Component\Joomet\Administrator\Field"
    >
        <field name="api_key_deepl"
               type="nxdsecured"
               autocomplete="new-password"
               default=""
               label="COM_JOOMET_PARAMS_TRANSLATOR_DEEPL_KEY_LABEL"
               description="COM_JOOMET_PARAMS_TRANSLATOR_DEEPL_KEY_DESCRIPTION"
        />
        <field name="deepl_key_check"
               type="deeplkeycheck"
               label="COM_JOOMET_PARAMS_DEEPL_USAGE_LABEL"
               description="COM_JOOMET_PARAMS_DEEPL_USAGE_DESCRIPTION"
               keyField="api_key_deepl"
               showon="api_key_deepl!:"
        />
        <field name="deepl_language_cache"
               type="deepllanguagecache"
               label="COM_JOOMET_PARAMS_DEEPL_LANGUAGE_CACHE_LABEL"
               description="COM_JOOMET_PARAMS_DEEPL_LANGUAGE_CACHE_DESCRIPTION"
               keyField="api_key_deepl"
               showon="api_key_deepl!:"
        />
        <field name="sp_translation" type="spacer" hr="true" />
        <field name="ignore_empty_rows"
               label="COM_JOOMET_PARAMS_IGNORE_EMPTY_ROWS_LABEL"
               description="COM_JOOMET_PARAMS_IGNORE_EMPTY_ROWS_DESCRIPTION"
               type="radio"
               default="1"
               filter="integer"
               class="btn-group btn-group-yesno"
        >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="ignore_comments"
               label="COM_JOOMET_PARAMS_IGNORE_COMMENTS_LABEL"
               description="COM_JOOMET_PARAMS_IGNORE_COMMENTS_DESCRIPTION"
               type="radio"
               default="0"
               filter="integer"
               class="btn-group btn-group-yesno"
        >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
    </fieldset>

    <fieldset
            name="permissions"
            label="JCONFIG_PERMISSIONS_LABEL"
            description="JCONFIG_PERMISSIONS_DESC"
    >
        <field
                name="rules"
                type="rules"
                label="JCONFIG_PERMISSIONS_LABEL"
                validate="rules"
                filter="rules"
                component="com_joomet"
                section="component"
        />
    </fieldset>
</config>
