div#toolbar > joomla-toolbar-button > a.nxd-ext-btn::before,
.nxd-ext-btn::before,
a.bmc-btn::before {
    display: none;
    content: "";
}

#checks-table {
    td > div > a.rounded-pill {
        border-radius: 4px !important;
        padding: 10px;
        font-weight: 400;
    }

    td > div:nth-of-type(n+2) > a.rounded-pill{
        margin-top:4px;
    }

    th.status-col, td.status-col{
        padding-left: 2px;
        padding-right: 2px;
    }
    td.nxd-marked-danger{
        background-color: #c52827;
    }
}

.joomet-offcanvas {
    code {
        display: block;
        margin-top:5px;
        margin-bottom:5px;
        background: #f5f5f5;
        padding: 10px;
        border-radius: 4px;
        color: #333;

        pre {
            padding: 4px;
            margin: 0;
            color: #333;
        }
    }
}

.nxd-float-right {
    float: right;
    margin-left: auto; /* Platz zwischen linken Elementen und dem Button */
}

/* File Content */
code.constant {
    color: #393939;
}

/* Translations */

th#skip-header {
    .control-group {
        margin: 0;
        padding: 0;
        scale: 0.7;

        .controls {
            width: auto;
            min-width: 4rem;
            margin-left: -10px;
            padding: 0;

            #jform_skip_all_toggler {
                width: 0;

                label {
                    display: none;
                    width: 0;
                }

                div.switcher {
                    width: 5rem;
                }
            }
        }
    }
}

/* Joomla! Error */
.modal .btn.btn-danger {
    background: #c52827;
    color: white;
    border-color: var(--btn-border-color);

    &:hover{
        background: #a72221;
        border-color: var(--btn-hover-border-color);
    }
    &:active{
        background: #9e201f;
        border-color: var(--btn-active-border-color);
    }
}

/* Dark Mode */

[data-color-scheme="dark"] {
    code.constant {
        color: #b3b3b3;
    }
}